<tr>
	<td><%= shopping_cart_item.item.id %> </td>
	<td><%= Ticket.find(shopping_cart_item.item.id).performance.show.name %> </td>
	<td><%= Ticket.find(shopping_cart_item.item.id).performance.date.strftime("%d %b %y") %> </td>
	<td><%= Ticket.find(shopping_cart_item.item.id).performance.start_time.to_formatted_s(:time) %> </td>
	<td><%= Ticket.find(shopping_cart_item.item.id).seat_type + " " + Ticket.find(shopping_cart_item.item.id).seat_num + Ticket.find(shopping_cart_item.item.id).seat_row %>  </td>
	<td>$<%= shopping_cart_item.item.price/100 %> </td> 
	<td class="remove-button"><%= button_to "Remove from cart", {:controller => :shopping_carts,
		:action => 'destroy', :ticket_id => shopping_cart_item.item.id}, :method => :delete, :class => 'button tiny' %></td>
</tr>

