<div class="row top-padding">
	<div class="small-12 columns" id="cart"></div>

<h1>Shopping Cart</h1>

<%= form_tag charges_path do %>
<article>
	<label class="amount">
		<div>
			<div><b>SubTotal:</b><%= number_to_currency @shopping_cart.subtotal / 100%></div>
			<div><b>Taxes:</b><%= number_to_currency @shopping_cart.taxes / 100 %></div>
			<div><b>Total:</b><%= number_to_currency @shopping_cart.total / 100 %></div>
		</div>
	</label>
</article>

<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
	data-email="<%= current_user.email %>"	  
	data-description="Cart"
	data-amount="<%= @shopping_cart.total %>">
</script>

<% end %>
<table class="cart-table">

	<td>ID </td> <td> Show </td> <td> Date </td> <td> Time </td> <td> Seat </td> <td> Price </td> <td> </td>
<%= render :partial => 'shopping_cart_item', :collection => @shopping_cart.shopping_cart_items %>
</table>
</div>